<% for column in Classified.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @classified.send(column.name) %>
</p>
<% end %>

<% unless @classified.tags.blank? %> 
<p><strong>Tags:</strong> 
<%= @classified.tags.collect{|tag| link_to tag.name, :action => 'tag', :id => tag}.join(", ") %></p> 
<% end %> 

<%= link_to 'Edit', :action => 'edit', :id => @classified %> |
<%= link_to 'Back', :action => 'list' %>
