Hi! 
Someone thought you might be interested in knowing about this classified. 

Title: <%= @title -%> 

Description: <%= @description -%> 

Price: <%= @price -%> 

You can view more information at <%= @url %> 

Thanks! 


- Railslist 
