

#container {
	width: 800px;
	min-height: 500px;
}
#container table.browse {
	width: 800px;
	float: left;
	border-collapse:collapse;
}

#container table.browse tr td,
#container table.browse tr th{
	border: 1px solid #ccc;
	padding: 10px;
}

#container table.inbrowse tr td,
#container table.inbrowse tr th {
	border: 0 !important;
}

input[type=text] {
	padding: 5px;
	border-radius: 3px;
}

input[type=submit]{
	padding: 10px 20px;
	border: 1px solid #4f9fcf;
	background: #4f9fcf;
	color: #fff;
}
a {
	padding: 10px 20px;
	border: 1px solid #4f9fcf;
	background: #4f9fcf;
	color: #fff;
	font-size: 9pt;
	text-decoration: none;
}